#field {
   width: 200px;
   height: 150px;
   border: 10px solid black;
   background-color: #00ff00;
   overflow: hidden;
   position: relative;
   cursor: pointer;
}

body {
   height: 2000px;
}

#ball {
   position: absolute;
   left: 0;
   top: 0;
   width: 40px;
   height: 40px;
   transition: all 1s;
}
